<!DOCTYPE html>
{% load static %}
<html lang="en">
<title>JDPTUTS.com</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'home/w3.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card w3-center w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-amber w3-large w3-black" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
      <div style="max-width: 1170px;margin-left: 570px;">
    <a href="{% url 'home:index' %}" class="w3-bar-item w3-button w3-padding-large w3-hover-amber">Home</a>
    <a href="{% url 'home:about' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-amber">About</a>
    <a href="{% url 'contact:contact' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-amber">Contact</a>
    <a href="{% url 'home:team' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-amber">Team</a>
  </div>
</div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="{% url 'home:index' %}" class="w3-bar-item w3-button w3-padding-large w3-black w3-hover-amber">Home</a>
    <a href="{% url 'home:about' %}" class="w3-bar-item w3-button w3-padding-large w3-black w3-hover-amber">About</a>
    <a href="{% url 'contact:contact' %}" class="w3-bar-item w3-button w3-padding-large w3-black w3-hover-amber">Contact</a>
    <a href="{% url 'home:team' %}" class="w3-bar-item w3-button w3-padding-large w3-black w3-hover-amber">Team</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-black w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">JDP_TUTS</h1>
  <p class="w3-xlarge" style="font-style: oblique">Most&nbsp;Beginner&nbsp;Friendly&nbsp;Tutorials&nbsp;for&nbsp;Programmers</p>
    <a href="{% url 'accounts:login' %}">
  <button class="w3-btn w3-amber w3-padding-large w3-large w3-margin-top w3-hover-grey">Start Tutorial</button>
    </a>
</header>

    {% block content %}
    {% endblock %}
    
    <div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Quote of the day: live life</h1>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
  <div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
 </div>
 <p>Powered by <a href="{% url 'home:index' %}" target="_blank">JDPTUTS</a></p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
