{% extends '../tutorials/tutbaselayout.html' %}
{% load static %}

{% block content %}

<p>Arrays a kind of data structure that can store a fixed-size sequential collection of elements of the same type. An array is used to store a collection of data, but it is often more useful to think of an array as a collection of variables of the same type.
</p><p>
Instead of declaring individual variables, such as number0, number1, ..., and number99, you declare one array variable such as numbers and use numbers[0], numbers[1], and ..., numbers[99] to represent individual variables. A specific element in an array is accessed by an index.
</p><p>
All arrays consist of contiguous memory locations. The lowest address corresponds to the first element and the highest address to the last element.</p>
<img src="{% static 'tutorials/images/arrays.png' %}" alt="Decision making flow chart" style="margin-left: auto; margin-right: auto;max-width: 100%;display: block">
<h2 class="w3-border-top w3-border-bottom">Declaring Arrays</h2>
<p>To declare an array in C, a programmer specifies the type of the elements and the number of elements required by an array as follows −</p>
<div class="w3-example">
<pre>type arrayName [ arraySize ];</pre>
</div>
<p>This is called a single-dimensional array. The arraySize must be an integer constant greater than zero and type can be any valid C data type. For example, to declare a 10-element array called balance of type double, use this statement −</p>
<div class="w3-example">
<pre>double balance[10];</pre>
</div>
<p>Here balance is a variable array which is sufficient to hold up to 10 double numbers.</p>
<h2 class="w3-border-top w3-border-bottom">Initializing Arrays</h2>
<p>You can initialize an array in C either one by one or using a single statement as follows −</p>
<div class="w3-example">
<pre>double balance[5] = {1000.0, 2.0, 3.4, 7.0, 50.0};</pre>
</div>
<p>The number of values between braces { } cannot be larger than the number of elements that we declare for the array between square brackets [ ].
</p><p>
If you omit the size of the array, an array just big enough to hold the initialization is created. Therefore, if you write −</p>
<div class="w3-example">
<pre>double balance[] = {1000.0, 2.0, 3.4, 7.0, 50.0};</pre>
</div>
<p>You will create exactly the same array as you did in the previous example. Following is an example to assign a single element of the array −</p>
<div class="w3-example">
<pre>balance[4] = 50.0;</pre>
</div>
<p>The above statement assigns the 5th element in the array with a value of 50.0. All arrays have 0 as the index of their first element which is also called the base index and the last index of an array will be total size of the array minus 1. Shown below is the pictorial representation of the array we discussed above −</p>
<img src="{% static 'tutorials/images/arrays2.png' %}" alt="Decision making flow chart" style="margin-left: auto; margin-right: auto;max-width: 100%;display: block">
<h2 class="w3-border-top w3-border-bottom">Accessing Array Elements</h2>
<p>An element is accessed by indexing the array name. This is done by placing the index of the element within square brackets after the name of the array. For example −</p>
<div class="w3-example">
<pre>double salary = balance[9];</pre>
</div>
<p>The above statement will take the 10th element from the array and assign the value to salary variable. The following example Shows how to use all the three above mentioned concepts viz. declaration, assignment, and accessing arrays −</p>
<div class="w3-example">
<h3>Example</h3>
    <div class="w3-code">
    <pre><span class="com">#include</span> <span class="str">&#60;stdio.h&#62;</span>
 
<span class="kwd">int</span> main<span class="pun">() {</span>

   <span class="kwd">int</span> n<span class="pun">[</span> 10 <span class="pun">];</span> <span class="com">/* n is an array of 10 integers */</span>
   <span class="kwd">int</span> i<span class="pun">,</span>j<span class="pun">;</span>
 
   <span class="com">/* initialize elements of array n to 0 */</span>         
   <span class="kwd">for</span> <span class="pun">(</span> i <span class="pun">=</span> 0<span class="pun">;</span> i <span class="pun">&#60;</span> 10<span class="pun">;</span> i<span class="pun">++ ) {</span>
      n<span class="pun">[</span> i <span class="pun">]</span> <span class="pun">=</span> i <span class="pun">+</span> 100<span class="pun">;</span> <span class="com">/* set element at location i to i + 100 */</span>
   <span class="pun">}</span>
   
   <span class="com">/* output each array element's value */</span>
   <span class="kwd">for</span> <span class="pun">(</span> j <span class="pun">=</span> 0<span class="pun">;</span> j <span class="pun">&#60;</span> 10<span class="pun">;</span> j<span class="pun">++ ) {</span>
      printf<span class="pun">(</span><span class="str">"Element[%d] = %d\n"</span><span class="pun">,</span> j<span class="pun">,</span> n<span class="pun">[</span>j<span class="pun">] );</span>
   <span class="pun">}</span>
 
   <span class="kwd">return</span> 0<span class="pun">;</span>
<span class="pun">}</span></pre>
    </div>
</div>
<p>When the above code is compiled and executed, it produces the following result −</p>
<div class="w3-example">
<pre>Element[0] = 100
Element[1] = 101
Element[2] = 102
Element[3] = 103
Element[4] = 104
Element[5] = 105
Element[6] = 106
Element[7] = 107
Element[8] = 108
Element[9] = 109</pre>
</div>
<h2 class="w3-border-top w3-border-bottom">Arrays in Detail</h2>
<p>Arrays are important to C and should need a lot more attention. The following important concepts related to array should be clear to a C programmer −</p>
<table class="table table-bordered" style="text-align: center">
<tbody>
    <tr>
    <th>Sr.No.</th><th>Concept & Description</th>
    </tr>
    <tr>
    <td class="ts">1</td>
        <td><p><b><a href="{% url 'tutorials:if_statement' %}">Multi-dimensional arrays</a></b></p><p>C supports multidimensional arrays. The simplest form of the multidimensional array is the two-dimensional array.</p></td>
    </tr>
    <tr>
    <td class="ts">2</td>
        <td><p><b><a href="{% url 'tutorials:ifelse_statement' %}">passing arrays to function</a></b></p><p>You can pass to the function a pointer to an array by specifying the array's name without an index.</p></td>
    </tr>
    <tr>
    <td class="ts">3</td>
        <td><p><b><a href="{% url 'tutorials:nestedif_statement' %}">Return array from a function</a></b></p><p>C allows a function to return an array.</p></td>
    </tr>
    <tr>
    <td class="ts">4</td>
        <td><p><b><a href="{% url 'tutorials:switch_statement' %}">Pointer to an array</a></b></p><p>You can generate a pointer to the first element of an array by simply specifying the array name, without any index.</p></td>
    </tr>
    <tr>
    </tbody>
</table>

{% endblock %}