{% extends '../tutorials/tutbaselayout.html' %}
{% load static %}

{% block content %}

<p>A function is a group of statements that together perform a task. Every C program has at least one function, which is <b>main()</b>, and all the most trivial programs can define additional functions.
</p><p>
You can divide up your code into separate functions. How you divide up your code among different functions is up to you, but logically the division is such that each function performs a specific task.
</p><p>
    A function <b>declaration</b> tells the compiler about a function's name, return type, and parameters. A function <b>definition</b> provides the actual body of the function.
</p><p>
    The C standard library provides numerous built-in functions that your program can call. For example, <b>strcat()</b> to concatenate two strings, <b>memcpy()</b> to copy one memory location to another location, and many more functions.
</p><p>
A function can also be referred as a method or a sub-routine or a procedure, etc.</p>
<h2 class="w3-border-top w3-border-bottom">Defining a Function</h2>
<p>The general form of a function definition in C programming language is as follows −</p>
<div class="w3-example">
<pre>return_type function_name( parameter list ) {
   body of the function
}</pre></div>
<p>A function definition in C programming consists of a <i>function header</i> and a <i>function body</i>. Here are all the parts of a function −</p>
<ul>
    <li><b>Return Type</b> − A function may return a value. The <b>return_type</b> is the data type of the value the function returns. Some functions perform the desired operations without returning a value. In this case, the return_type is the keyword <b>void</b>.</li>
    <li><b>Function Name</b> − This is the actual name of the function. The function name and the parameter list together constitute the function signature.</li>
    <li><b>Parameters</b> − A parameter is like a placeholder. When a function is invoked, you pass a value to the parameter. This value is referred to as actual parameter or argument. The parameter list refers to the type, order, and number of the parameters of a function. Parameters are optional; that is, a function may contain no parameters.</li>
    <li><b>Function Body</b> − The function body contains a collection of statements that define what the function does.</li>
</ul>
<p>Given below is the source code for a function called max(). This function takes two parameters num1 and num2 and returns the maximum value between the two −</p>
<div class="w3-example">
<h3>Example</h3>
    <div class="w3-code">
        <pre><div class="com">/* function returning the max between two numbers */</div>
<span class="kwd">int</span> max<span class="pun">(</span><span class="kwd">int</span> num1<span class="pun">,</span> <span class="kwd"></span>int num2<span class="pun">) {</span>

   <span class="com">/* local variable declaration */</span>
   <span class="kwd">int</span> result<span class="pun">;</span>
 
   <span class="kwd">if</span> <span class="pun">(</span>num1 <span class="pun">></span> num2<span class="pun">)</span>
      result <span class="pun">=</span> num1<span class="pun">;</span>
   <span class="kwd">else</span>
      result <span class="pun">=</span> num2<span class="pun">;</span>
 
   <span class="kwd">return</span> result<span class="pun">;</span> 
<span class="pun">}</span></pre>
    </div>
</div>
<h2 class="w3-border-top w3-border-bottom">Function Declarations</h2>
<p>A function <b>declaration</b> tells the compiler about a function name and how to call the function. The actual body of the function can be defined separately.

A function declaration has the following parts −</p>
<div class="w3-example">
<pre>return_type function_name( parameter list );</pre></div>
<p>For the above defined function max(), the function declaration is as follows −</p>
<div class="w3-example">
<pre>int max(int num1, int num2);</pre></div>
<p>Parameter names are not important in function declaration only their type is required, so the following is also a valid declaration </p>
<div class="w3-example">
<pre>int max(int, int);</pre>
</div>
<p>Function declaration is required when you define a function in one source file and you call that function in another file. In such case, you should declare the function at the top of the file calling the function.</p>
<h2 class="w3-border-top w3-border-bottom">Calling a Function</h2>
<p>While creating a C function, you give a definition of what the function has to do. To use a function, you will have to call that function to perform the defined task.
</p><p>
When a program calls a function, the program control is transferred to the called function. A called function performs a defined task and when its return statement is executed or when its function-ending closing brace is reached, it returns the program control back to the main program.
</p><p>
To call a function, you simply need to pass the required parameters along with the function name, and if the function returns a value, then you can store the returned value. For example −</p>
<div class="w3-example">
<h3>Example</h3>
<div class="w3-code">
    <pre><span class="com">#include</span> <span class="str">&#60;stdio.h&#62;</span>
 
<span class="com">/* function declaration */</span>
<span class="kwd">int</span> max<span class="pun">(</span><span class="kwd">int</span> num1<span class="pun">,</span> <span class="kwd">int</span> num2<span class="pun">);</span>
 
<span class="kwd">int</span> main<span class="pun">() {</span>

   <span class="com">/* local variable definition */</span>
   <span class="kwd">int</span> a <span class="pun">=</span> 100<span class="pun">;</span>
   <span class="kwd">int</span> b <span class="pun">=</span> 200<span class="pun">;</span>
   <span class="kwd">int</span> ret <span class="pun">;</span>
 
   <span class="com">/* calling a function to get max value */</span>
   ret <span class="pun">=</span> max<span class="pun">(</span>a<span class="pun">,</span> b<span class="pun">);</span>
 
   printf<span class="pun">(</span> <span class="str">"Max value is : %d\n"</span><span class="pun">,</span> ret <span class="pun">);</span>
 
   <span class="kwd">return</span> 0<span class="pun">;</span>
<span class="pun">}</span>
 
<span class="com">/* function returning the max between two numbers */</span>
<span class="kwd">int</span> max<span class="pun">(</span><span class="kwd">int</span> num1<span class="pun">,</span> <span class="kwd">int</span> num2<span class="pun">) {</span>

   <span class="com">/* local variable declaration */</span>
   <span class="kwd">int</span> result<span class="pun">;</span>
 
   <span class="kwd">if</span> <span class="pun">(</span>num1 <span class="pun">></span> num2<span class="pun">)</span>
      result <span class="pun">=</span> num1<span class="pun">;</span>
   <span class="kwd">else</span>
      result <span class="pun">=</span> num2<span class="pun">;</span>
 
   <span class="kwd">return</span> result<span class="pun">;</span>
<span class="pun">}</span></pre>
    </div>
</div>
<p>We have kept max() along with main() and compiled the source code. While running the final executable, it would produce the following result −</p>
<div class="w3-example">
<pre>Max value is : 200</pre>
</div>
<h2 class="w3-border-top w3-border-bottom">Function Arguments</h2>
<p>If a function is to use arguments, it must declare variables that accept the values of the arguments. These variables are called the <b>formal parameters</b> of the function.
</p><p>
Formal parameters behave like other local variables inside the function and are created upon entry into the function and destroyed upon exit.
</p><p>
While calling a function, there are two ways in which arguments can be passed to a function −</p>
<table class="table table-bordered">
<tbody>
    <tr>
    <th>Sr.&nbsp;No.</th>
        <th style="text-align: center">Call Type & Description</th>
    </tr>
    <tr>
    <td class="ts">1</td>
        <td><p><b><a href="{% url 'tutorials:if_statement' %}">Call by value</a></b></p><p>This method copies the actual value of an argument into the formal parameter of the function. In this case, changes made to the parameter inside the function have no effect on the argument.</p></td>
    </tr>
    <tr>
    <td class="ts">2</td>
        <td><p><b><a href="{% url 'tutorials:ifelse_statement' %}">Call by reference</a></b></p><p>This method copies the address of an argument into the formal parameter. Inside the function, the address is used to access the actual argument used in the call. This means that changes made to the parameter affect the argument.</p></td>
    </tr>
    </tbody>
    </table>
<p>By default, C uses <b>call by value</b> to pass arguments. In general, it means the code within a function cannot alter the arguments used to call the function.</p>
{% endblock %}