{% extends '../tutorials/tutbaselayout.html' %}
{% load static %}

{% block content %}
<p>An operator is a symbol that tells the compiler to perform specific mathematical or logical functions. C language is rich in built-in operators and provides the following types of operators −</p>
<ul>
    <li>Arithmetic Operators</li>
    <li>Relational Operators</li>
    <li>Logical Operators</li>
    <li>Bitwise Operators</li>
    <li>Assignment Operators</li>
    <li>Misc Operators</li>
</ul>
<p>We will, in this chapter, look into the way each operator works.</p>
<h2 class="w3-border-top w3-border-bottom">Arithmetic Operators</h2>
<p>The following table shows all the arithmetic operators supported by the C language. Assume variable <b>A</b> holds 10 and variable <b>B</b> holds 20 then −</p>
<p><a href="{% url 'tutorials:arithmetic_example' %}"><h4>Show Examples</h4></a></p>
<table class="table table-bordered" style="text-align: center">
<tbody>
    <tr>
        <th>Operator</th><th>Description</th><th>Example</th>
    </tr>
    <tr>
        <td>+</td> <td>	Adds two operands.</td><td> 	A + B = 30</td>
    </tr>
    <tr>
        <td>− </td><td>	Subtracts second operand from the first. </td><td>	A − B = -10</td>
    </tr>
    <tr>
        <td>*</td><td> 	Multiplies both operands.</td><td> 	A * B = 200</td>
    </tr>
    <tr>
        <td>/ </td><td>	Divides numerator by de-numerator. </td><td>	B / A = 2</td>
    </tr>
    <tr>
        <td>% </td><td>	Modulus Operator and remainder of after an integer division. </td><td>	B % A = 0</td>
    </tr>
    <tr>
        <td>++ </td><td>	Increment operator increases the integer value by one.</td><td> 	A++ = 11</td>
    </tr>
    <tr>
        <td>-- </td><td>	Decrement operator decreases the integer value by one.</td><td> 	A-- = 9</td>
    </tr>
    </tbody>
</table>
<h2 class="w3-border-top w3-border-bottom">Relational Operators</h2>
<p>The following table shows all the relational operators supported by C. Assume variable <b>A</b> holds 10 and variable <b>B</b> holds 20 then −</p>
<p><a href="{% url 'tutorials:relational_example' %}"><h4>Show Examples</h4></a></p>
<table class="table table-bordered" style="text-align: center">
<tbody>
    <tr>
        <th>Operator</th><th>Description</th><th>Example</th>
    </tr>
    <tr>
        <td>==</td> <td>	Checks if the values of two operands are equal or not. If yes, then the condition becomes true.</td><td> 	(A == B) is not true.</td>
    </tr>
    <tr>
        <td>!= </td><td>	Checks if the values of two operands are equal or not. If the values are not equal, then the condition becomes true. </td><td>	(A != B) is true.</td>
    </tr>
    <tr>
        <td>></td><td> 	Checks if the value of left operand is greater than the value of right operand. If yes, then the condition becomes true.</td><td> 	(A > B) is not true.</td>
    </tr>
    <tr>
        <td>&#60; </td><td>	Checks if the value of left operand is less than the value of right operand. If yes, then the condition becomes true. </td><td>	(A &#60; B) is true.</td>
    </tr>
    <tr>
        <td>>= </td><td>	Checks if the value of left operand is greater than or equal to the value of right operand. If yes, then the condition becomes true. </td><td>	(A >= B) is not true.</td>
    </tr>
    <tr>
        <td>&#60;= </td><td>	Checks if the value of left operand is less than or equal to the value of right operand. If yes, then the condition becomes true.</td><td> 	(A &#60;= B) is true.</td>
    </tr>
    </tbody>
</table>
<h2 class="w3-border-top w3-border-bottom">Logical Operators</h2>
<p>Following table shows all the logical operators supported by C language. Assume variable <b>A</b> holds 1 and variable <b>B</b> holds 0, then −</p>
<p><a href="{% url 'tutorials:logical_example' %}"><h4>Show Examples</h4></a></p>
<table class="table table-bordered" style="text-align: center">
<tbody>
    <tr>
        <th>Operator</th><th>Description</th><th>Example</th>
    </tr>
    <tr>
        <td>&&</td> <td>	Called Logical AND operator. If both the operands are non-zero, then the condition becomes true.</td><td> 	(A && B) is false.</td>
    </tr>
    <tr>
        <td>|| </td><td>	Called Logical OR Operator. If any of the two operands is non-zero, then the condition becomes true. </td><td>	(A || B) is true.</td>
    </tr>
    <tr>
        <td>!</td><td> 	Called Logical NOT Operator. It is used to reverse the logical state of its operand. If a condition is true, then Logical NOT operator will make it false.</td><td> 	!(A && B) is true.</td>
    </tr>
    </tbody>
</table>
<h2 class="w3-border-top w3-border-bottom">Bitwise Operators</h2>
<p>Bitwise operator works on bits and perform bit-by-bit operation. The truth tables for &, |, and ^ is as follows −</p>
<table class="table table-bordered" style="text-align: center">
<tbody>
    <tr>
        <th>p</th><th>q</th><th>p & q</th><th>p | q</th><th>p ^ q</th>
    </tr>
    <tr>
        <td>0</td> <td>	0</td><td>0</td><td>0</td><td>0</td>
    </tr>
    <tr>
        <td>0</td> <td>	1</td><td>0</td><td>1</td><td>1</td>
    </tr>
    <tr>
        <td>1</td> <td>	0</td><td>0</td><td>1</td><td>1</td>
    </tr>
    <tr>
        <td>1</td> <td>	1</td><td>1</td><td>1</td><td>0</td>
    </tr>
    </tbody>
</table>
<p>Assume A = 60 and B = 13 in binary format, they will be as follows −</p>
<p>A = 0011 1100</p>

<p>B = 0000 1101</p>

<p>-----------------</p>

<p>A&B = 0000 1100</p>

<p>A|B = 0011 1101</p>

<p>A^B = 0011 0001</p>

<p>~A = 1100 0011</p>

<p>The following table lists the bitwise operators supported by C. Assume variable 'A' holds 60 and variable 'B' holds 13, then −</p>
<p><a href="{% url 'tutorials:bitwise_example' %}"><h4>Show Examples</h4></a></p>
<table class="table table-bordered" style="text-align: center">
<tbody>
    <tr>
        <th>Operator</th><th>Description</th><th>Example</th>
    </tr>
    <tr>
        <td>&</td> <td>	Binary AND Operator copies a bit to the result if it exists in both operands. </td><td> 	(A & B) = 12, i.e., 0000 1100</td>
    </tr>
    <tr>
        <td>| </td><td>	Binary OR Operator copies a bit if it exists in either operand. </td><td>	(A | B) = 61, i.e., 0011 1101</td>
    </tr>
    <tr>
        <td>^</td><td> 	Binary XOR Operator copies the bit if it is set in one operand but not both. </td><td> 	(A ^ B) = 49, i.e., 0011 0001</td>
    </tr>
    <tr>
        <td>~</td><td>Binary One's Complement Operator is unary and has the effect of 'flipping' bits. </td><td>	(~A ) = ~(60), i.e,. -0111101</td>
    </tr>
    <tr>
        <td>&#60;&#60; </td><td>	Binary Left Shift Operator. The left operands value is moved left by the number of bits specified by the right operand. </td><td>	A &#60;&#60; 2 = 240 i.e., 1111 0000</td>
    </tr>
    <tr>
        <td>>> </td><td>	Binary Right Shift Operator. The left operands value is moved right by the number of bits specified by the right operand.</td><td> 	A >> 2 = 15 i.e., 0000 1111</td>
    </tr>
    </tbody>
</table>
<h2 class="w3-border-top w3-border-bottom">Assignment Operators</h2>
<p>The following table lists the assignment operators supported by the C language −</p>
<p><a href="{% url 'tutorials:assignment_example' %}"><h4>Show Examples</h4></a></p>
<table class="table table-bordered" style="text-align: center">
<tbody>
    <tr>
        <th>Operator</th><th>Description</th><th>Example</th>
    </tr>
    <tr>
        <td>=</td> <td>	Simple assignment operator. Assigns values from right side operands to left side operand</td><td> 	C = A + B will assign the value of A + B to C</td>
    </tr>
    <tr>
        <td>+= </td><td>	Add AND assignment operator. It adds the right operand to the left operand and assign the result to the left operand. </td><td>	C += A is equivalent to C = C + A</td>
    </tr>
    <tr>
        <td>-=</td><td> 	Subtract AND assignment operator. It subtracts the right operand from the left operand and assigns the result to the left operand.</td><td> 	C -= A is equivalent to C = C - A</td>
    </tr>
    <tr>
        <td>*=</td><td> 	Multiply AND assignment operator. It multiplies the right operand with the left operand and assigns the result to the left operand.</td><td> 	C *= A is equivalent to C = C * A</td>
    </tr>
    <tr>
        <td>/=</td><td> 	Divide AND assignment operator. It divides the left operand with the right operand and assigns the result to the left operand.</td><td> 	C /= A is equivalent to C = C / A</td>
    </tr>
    <tr>
        <td>%=</td><td> 	Modulus AND assignment operator. It takes modulus using two operands and assigns the result to the left operand.</td><td> 	C %= A is equivalent to C = C % A</td>
    </tr>
    <tr>
        <td>&#60;&#60;=</td><td> 	Left shift AND assignment operator.</td><td> 	C &#60;&#60;= 2 is same as C = C &#60;&#60; 2</td>
    </tr>
    <tr>
        <td>>>=</td><td> 	Right shift AND assignment operator.</td><td> 	C >>= 2 is same as C = C >> 2</td>
    </tr>
    <tr>
        <td>&=</td><td> 	Bitwise AND assignment operator.</td><td> C &= 2 is same as C = C & 2</td>
    </tr>
    <tr>
        <td>^=</td><td> 	Bitwise exclusive OR and assignment operator.</td><td> 	C ^= 2 is same as C = C ^ 2</td>
    </tr>
    <tr>
        <td>|=</td><td> 	Bitwise inclusive OR and assignment operator.</td><td> 	C |= 2 is same as C = C | 2</td>
    </tr>
    </tbody>
</table>
<h2 class="w3-border-top w3-border-bottom">Misc Operators ↦ sizeof & ternary</h2>
<p>Besides the operators discussed above, there are a few other important operators including <b>sizeof</b> and <b>? :</b> supported by the C Language.</p>
<p><a href="{% url 'tutorials:misc_example' %}"><h4>Show Examples</h4></a></p>
<table class="table table-bordered" style="text-align: center">
<tbody>
    <tr>
        <th>Operator</th><th>Description</th><th>Example</th>
    </tr>
    <tr>
        <td>sizeof()</td> <td>	Returns the size of a variable.</td><td> 	sizeof(a), where a is integer, will return 4.</td>
    </tr>
    <tr>
        <td>&</td><td>	Returns the address of a variable.</td><td>	&a; returns the actual address of the variable.</td>
    </tr>
    <tr>
        <td>*</td><td> 	Pointer to a variable.</td><td> 	*a;</td>
    </tr>
    <tr>
        <td>?:</td><td> 	Conditional Expression.</td><td> 	If Condition is true ? then value X : otherwise value Y</td>
    </tr>
    </tbody>
</table>
<h2 class="w3-border-top w3-border-bottom">Operators Precedence in C</h2>
<p>Operator precedence determines the grouping of terms in an expression and decides how an expression is evaluated. Certain operators have higher precedence than others; for example, the multiplication operator has a higher precedence than the addition operator.
</p><p>
For example, x = 7 + 3 * 2; here, x is assigned 13, not 20 because operator * has a higher precedence than +, so it first gets multiplied with 3*2 and then adds into 7.
</p><p>
Here, operators with the highest precedence appear at the top of the table, those with the lowest appear at the bottom. Within an expression, higher precedence operators will be evaluated first.</p>
<p><a href="{% url 'tutorials:precedence_example' %}"><h4>Show Examples</h4></a></p>
<table class="table table-bordered" style="text-align: center">
<tbody>
    <tr>
        <th>Category</th><th>Description</th><th>Associativity</th>
    </tr>
    <tr>
        <td>Postfix</td> <td>	() [] -> . ++ - -</td><td> 	Left to right</td>
    </tr>
    <tr>
        <td>Unary</td><td>	+ - ! ~ ++ - - (type)* & sizeof</td><td>Right to left</td>
    </tr>
    <tr>
        <td>Multiplicative</td> <td>	* / %</td><td> 	Left to right</td>
    </tr>
    <tr>
        <td>Additive</td> <td>	+-</td><td> 	Left to right</td>
    </tr>
    <tr>
        <td>Shift</td> <td>	&#60;&#60;>></td><td> 	Left to right</td>
    </tr>
    <tr>
        <td>Relational</td> <td>&#60;&#60;=>>=</td><td> 	Left to right</td>
    </tr>
    <tr>
        <td>Bitwise AND</td> <td>&</td><td> 	Left to right</td>
    </tr>
    <tr>
        <td>Bitwise XOR</td> <td>^</td><td> 	Left to right</td>
    </tr>
    <tr>
        <td>Bitwise OR</td> <td>|</td><td> 	Left to right</td>
    </tr>
    <tr>
        <td>Logical AND</td> <td>&&</td><td> 	Left to right</td>
    </tr>
    <tr>
        <td>Logical OR</td> <td>||</td><td> 	Left to right</td>
    </tr>
    <tr>
        <td>Conditional</td> <td>?:</td><td> 	Right to left</td>
    </tr>
    <tr>
        <td>Assignment</td> <td>= += -= *= /= %=>>= &#60;&#60;= &= ^= |=</td><td> 	Right to left</td>
    </tr>
    <tr>
        <td>Comma</td> <td>,</td><td> 	Left to right</td>
    </tr>
    </tbody>
</table>
{% endblock %}