{% extends '../tutorials/tutbaselayout.html' %}
{% load static %}

{% block content %}
<p>A variable is nothing but a name given to a storage area that our programs can manipulate. Each variable in C has a specific type, which determines the size and layout of the variable's memory; the range of values that can be stored within that memory; and the set of operations that can be applied to the variable.
</p>
<p>
The name of a variable can be composed of letters, digits, and the underscore character. It must begin with either a letter or an underscore. Upper and lowercase letters are distinct because C is case-sensitive. Based on the basic types explained in the previous chapter, there will be the following basic variable types −</p>
<div class="w3-responsive">
<table class="table table-bordered">
<tbody>
    <tr>
    <th>Sr.&nbsp;No.</th>
        <th style="text-align: center">Types & Description</th>
    </tr>
    <tr>
    <td class="ts">1</td>
    <td><p><b>char</b></p><p>Typically a single octet(one byte). This is an integer type.</p></td>
    </tr>
    <tr>
    <td class="ts">2</td>
    <td><p><b>int</b></p><p>The most natural size of integer for the machine.</p></td>
    </tr>
    <tr>
    <td class="ts">3</td>
    <td><p><b>float</b></p><p>A single-precision floating point value.</p></td>
    </tr>
    <tr>
    <td class="ts">4</td>
    <td><p><b>double</b></p><p>A double-precision floating point value.</p></td>
    </tr>
    <tr>
    <td class="ts">5</td>
    <td><p><b>void</b></p><p>Represents the absence of type.</p></td>
    </tr>
    </tbody>
    </table></div>
    <p>C programming language also allows to define various other types of variables, which we will cover in subsequent chapters like Enumeration, Pointer, Array, Structure, Union, etc. For this chapter, let us study only basic variable types.</p>
<h2 class="w3-border-top w3-border-bottom">Variable Definition in C</h2>
<p> variable definition tells the compiler where and how much storage to create for the variable. A variable definition specifies a data type and contains a list of one or more variables of that type as follows −</p>
<div class="w3-example"><pre>type variable_list;</pre></div>
<p>Here,<b> type</b> must be a valid C data type including char, w_char, int, float, double, bool, or any user-defined object; and <b>variable_list</b> may consist of one or more identifier names separated by commas. Some valid declarations are shown here −</p>
<div class="w3-example"><pre>int    i, j, k;
char   c, ch;
float  f, salary;
double d;</pre></div>
<p>The line int i, j, k; declares and defines the variables i, j, and k; which instruct the compiler to create variables named i, j and k of type int.</p>
<p>
Variables can be initialized (assigned an initial value) in their declaration. The initializer consists of an equal sign followed by a constant expression as follows −</p>
<div class="w3-example">
<pre>type variable_name = value;</pre>
</div>
<p>Some examples are −</p>
<div class="w3-example"><pre>extern int d = 3, f = 5;    // declaration of d and f. 
int d = 3, f = 5;           // definition and initializing d and f. 
byte z = 22;                // definition and initializes z. 
char x = 'x';               // the variable x has the value 'x'.</pre>
</div>
<p>For definition without an initializer: variables with static storage duration are implicitly initialized with NULL (all bytes have the value 0); the initial value of all other variables are undefined.</p>
<h2 class="w3-border-top w3-border-bottom">Variable Declaration in C</h2>
<p>A variable declaration provides assurance to the compiler that there exists a variable with the given type and name so that the compiler can proceed for further compilation without requiring the complete detail about the variable. A variable definition has its meaning at the time of compilation only, the compiler needs actual variable definition at the time of linking the program.
</p>
<p>
A variable declaration is useful when you are using multiple files and you define your variable in one of the files which will be available at the time of linking of the program. You will use the keyword extern to declare a variable at any place. Though you can declare a variable multiple times in your C program, it can be defined only once in a file, a function, or a block of code.
</p>
<p>
Try the following example, where variables have been declared at the top, but they have been defined and initialized inside the main function −</p>
<div class="w3-example">
    <h3>Example</h3>
    <div class="w3-code notranslate">
<pre><span class="com">#include&nbsp;</span><span class="str">&#60;stdio.h&#62;</span>

<span class="com">// Variable declaration:</span>
<span class="kwd">extern int </span><span>a, b</span><span class="pun">;</span>
<span class="kwd">extern int </span><span>c</span><span class="pun">;</span>
<span class="kwd">extern float </span><span>f</span><span class="pun">;</span>

<span class="kwd">int </span><span>main</span><span class="pun"> () {</span>

        <span class="com">/* variable definition: */</span>
        <span class="kwd">int </span><span>a, b</span><span class="pun">;</span>
        <span class="kwd">int </span><span>c</span><span class="pun">;</span>
        <span class="kwd">float </span><span>f</span><span class="pun">;</span>
        
        <span class="com">/* actual initialization */</span>
        <span>a </span><span class="pun">= </span> <span>10</span><span class="pun">;</span>
        <span>b </span><span class="pun">= </span> <span>20</span><span class="pun">;</span>
        
        <span>c </span><span class="pun">= </span> <span>a </span><span class="pun">+ </span><span>b</span><span class="pun">;</span>
        <span>printf</span><span class="pun">(</span><span class="str">"value of c : %d \n"</span><span class="pun">, </span><span>c</span><span class="pun">);</span>
        
        <span>f </span><span class="pun">= </span><span>70.0/3.0</span><span class="pun">;</span>
        <span>printf</span><span class="pun">(</span><span class="str">"value of f : %f \n" </span><span>, f</span><span class="pun">);</span>
   
        <span class="kwd">return </span><span>0</span><span class="pun">;</span>
<span class="pun">}</span></pre>
    </div>
</div>
<p>When the above code is compiled and executed, it produces the following result −</p>
<div class="w3-example">
<pre>value of c : 30
value of f : 23.333334</pre></div>
<p>The same concept applies on function declaration where you provide a function name at the time of its declaration and its actual definition can be given anywhere else. For example −</p>
<div class="w3-example">
    <h3>Example</h3>
<div class="w3-code notranslate">
    <pre><span class="com">// function declaration</span>
<span class="kwd">int </span><span>func</span><span class="pun">();</span>

<span class="kwd">int </span><span>main</span><span class="pun">() {</span>

   <span class="com">// function call</span>
   <span class="kwd">int </span><span>i </span><span class="pun">= </span><span>func</span><span class="pun">();</span>
<span class="pun">}</span>

<span class="com">// function definition</span>
<span class="kwd">int </span><span>func</span><span class="pun">() {</span>
   <span class="kwd">return </span><span>0</span><span class="pun">;</span>
<span class="pun">}</span></pre>
    </div>
</div>
<h2 class="w3-border-top w3-border-bottom">Lvalues and Rvalues in C</h2>
<p>There are two kinds of expressions in C −</p>
<ul>
<li><p>

    <b>lvalue</b> − Expressions that refer to a memory location are called "lvalue" expressions. An lvalue may appear as either the left-hand or right-hand side of an assignment.</p>
    </li>
    <li><p>
        <b>*rvalue</b> − The term rvalue refers to a data value that is stored at some address in memory. An rvalue is an expression that cannot have a value assigned to it which means an rvalue may appear on the right-hand side but not on the left-hand side of an assignment.
</p></li>
</ul>
<p>Variables are lvalues and so they may appear on the left-hand side of an assignment. Numeric literals are rvalues and so they may not be assigned and cannot appear on the left-hand side. Take a look at the following valid and invalid statements −</p>
<div class="w3-example">
<pre>int g = 20; // valid statement

10 = 20; // invalid statement; would generate compile-time error</pre></div>
{% endblock %}